This project needs a *nix system with Python 2.7 installed. The files build, 
process, and stopall need to have execute permissions. 

There must be a folder named LOG, writable by server.py. This is necessary for 
internal debugging. 
